.cor{
    background-color: brown;
    color: blue;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textVik{
    margin-left: 20px;
    font-size: 20px;  
    font-style:italic;
}
.cor3{
    color: blue;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cor2{
    background-color: brown;
    color: blue;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imgPerfil{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.img2perfil{
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.apagado{
    background-color: black;
    width: 100px;
    height: 40px;
}
.acesso{
    background-color: blue;
    width: 100px;
    height: 40px;
}
.num{
    width: 80px;
    border: 2px solid green;
    margin-bottom: 10px;
    margin-left: 10px;
    color: gold;  
}
.selecao{
    display: flex;
    background: rgb(75, 73, 73);
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.lojas{
    display: none;
}
.botaoVermelho{
    background: red;
    height: 40px;
    width: 100px;
    margin-right: 30px;
}
.botaoAzul{
    background: blue;
    height: 40px;
    width: 100px;
}
.botaodeck{
    background: blue;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
.botaoCinza{
    background: gray;
    height: 40px;
    width: 100px;
}
.caixa{
    background: orange;
    height: 500px;
    width: 500px;
    position: fixed;
	right: 25%;
	top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgloja{
    height: 200px;
    width: 200px;
}
.cadastro{
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login{
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-caixa{
    background: gray;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.input{
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
}
.bt{
    margin-bottom: 10px;
    margin-left: 37%;
}
.butaoselek{
    position: absolute;
	left: 0px;
	top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.navegador{
    background: grey;
    width: 100vw;
    height: 60px;
    position: fixed;
	right: 0px;
	top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.navegador2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    
}
.navegador22{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.navegador222{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    height: 50px;
    width: 80px;
}
.navegador3{
    font-size: 25px;
    color: orange;
}
.body{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
}
.barra{
    background-color: brown;
    color: blue;
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    color: green;
    border: 1px solid red;
}
.imgCard{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.teste{
    background-color: blue;
    width: 400px;
    height: 100px;
}
.letra{
    color: red;
}
.letracura{
    color: blue;
}
.vazio{
    display: none;
}
.palavraDano{
    color: blueviolet;
    font-size: 30px;
}
.placarcura{
    background-color: rgba(0, 128, 0, 0.445);
    position: absolute;
	right: 0px;
	bottom: 30px;
    width: 120px;
    height: 100px;
}
.placar{
    background-color: rgba(127, 255, 212, 0.425);
    position: absolute;
	right: 0px;
	top: 20px;
    width: 120px;
    height: 100px;
}
.card{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid green;
    margin-left: 10px;
}
.blue{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid blue;
    margin-left: 10px;
}
.red{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid red;
    margin-left: 10px;
}
.black{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid black;
    margin-left: 10px;
}
.darkb{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid darkcyan;
    margin-left: 10px;
}
.gold{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid gold;
    margin-left: 10px;
}
.thistle{
    position: relative;
    background-color: brown;
    width: 120px;
    height: 250px;
    border: 5px solid thistle;
    margin-left: 10px;
}
.nome{
    color: yellow;
}
.tabuleiro{
    display: flex;
    display: flex;
    background: rgba(105, 103, 103, 0.651);
    width: 700px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 10px;
    padding: 10px;
}
.tex-tabuleiro{
    width: 150px;
    height: 50px;
    background: rgba(105, 103, 103, 0.651);
    color: gold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabuleiro2{
    display: flex;
    display: flex;
    background: rgba(175, 88, 54, 0.726);
    width: 700px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 10px;
    padding: 10px;
}
.tex-tabuleiro2{
    width: 150px;
    height: 50px;
    background: rgba(175, 88, 54, 0.726);
    color: gold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.mao{
    display: flex;
    background: rgb(236, 221, 132);
    width: 700px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow-x:scroll;
    margin-bottom: 20px;
    padding: 10px;
}
.tex-mao{
    width: 150px;
    height: 50px;
    background: rgb(236, 221, 132);
    color: rgb(184, 177, 137);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load{
    animation: is-rotating 1s infinite;
    border: 6px solid red;
    border-top-color: green;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  
}
.cardd{
    animation-fill-mode: forwards;
    transform: translateY(-100px);
}
#atq{
    animation: atq 1s infinite;
    transform: translateY(0px);
}
@keyframes is-rotating {
    
    to{
        transform: translateY(0);
        transform: rotate(1turn);
    }
    
}
@keyframes atq {
    
    to{
        transform: translateY(-100px);
        
    }
    
}